{% extends 'base.html.twig' %}
{% block body %}

<div class="example-wrapper">
    <h1>Liste des théses tendances</h1>

<div class="example-wrapper">
    <h2>{{titre}}</h2>
    <h3>{{phrase_daccroche}}</h3>
    <h4>{{description}}</h4>
    <p>{{mail}}</p>
</div>



<a href="{{ path('theses')}}">Ecoles doctorales/a> 
{% endblock %}